body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-color: #1B1B1B;
  color: white;
  font-size: 30px;
}

p {
  color: #FFA70E;
  font-weight: 200;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}