body {
  background-color: #191920;
  color: #eee;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
}

@media (min-width: 800px) {
  body {
    font-size: 24px;
  }
}

body > div {
  margin: 0 20px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

@media (min-width: 800px) {
  body > div {
    margin: 40px;
  }
}

@media (min-width: 800px) {
  body > div {
    margin: 80px;
  }
}

ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

a:hover {
  color: red;
}

.project-list {
  padding-left: 24px;
}

.project-list li {
  margin-bottom: 8px;
}

.hero-social-container {
  margin-top: 20px;
}

@media (min-width: 800px) {
  .hero-social-container {
    margin-top: 40px;
  }
}

.hero-social {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 800px) {
  .hero-social {
    flex-direction: row;
  }
}

.hero-social li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  mix-blend-mode: screen;
  padding: 10px 10px 10px 0;
}

@media (min-width: 800px) {
  .hero-social li a {
    padding: 14px;
  }

  .hero-social li:first-child a {
    padding: 14px 14px 14px 0;
  }

  .hero-social li:last-child a {
    padding: 14px 0 14px 14px;
  }
}

.hero-social li a img {
  height: 30px;
  margin-right: 8px;
}

@media (min-width: 800px) {
  .hero-social li a img {
    height: 40px;
    margin-right: 12px;
  }
}
